{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Checkout
{% endblock %}

{% block content %}

    <!-- <H2> Checkout</H2> -->

    <div class="Order-Info">
        <h4>Your Meal Ticket Order </h4>
        <p> [5% discount apply if you choose <B>Semester Meal Plan]</B></p>
        <h4>In your cart </h4>
        <ul>
            {% for item in cart %}
                <li>
                    {{item.quantity }} x {{item.book}} =
                    <span> <B><i> $ {{item.total_price }}</span></i></B>
                </li>
            {% endfor %}
</ul>
        <br><p> <B>Total amount : ${{ cart.get_total_price }}</p></B>
        <p> 5% discount : ${{ cart.get_meal_discount }}</p>
        <B><p> Final Price : ${{ cart.get_meal_discounted_price }}</p></center></B>

    </div>
<br></br>
    <h5>Please enter your details:</h5><hr></hr>
    <form action="." method="POST" class="order-form">
      <!-- {% crispy form %} -->
        {{form.as_p}}
        <p><input type="submit" class="btn btn-primary" value="Place Order"></p>
        {%csrf_token%}
    </form>
{% endblock %}
