{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
      <title>Student Activities - {{ title }}</title>
    {% else %}
      <title>Student Activities</title>
    {% endif %}
    <style>
        table, th, td {
          border: 2px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: center;
        }

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
        </style>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Student Activity</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <!-- <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a> -->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{%  url 'post-create' %}">New Post</a>
                <a class="nav-item nav-link" href="{%  url 'profile' %}">Profile</a>
                <!-- <a class="nav-item nav-link" href="{%  url 'users:student_search' %}">Student Search</a>
                <a class="nav-item nav-link" href="{%  url 'faculty:search_faculty' %}">Faculty Search</a>
                <a class="nav-item nav-link" href="{%  url 'users:roommateFind' %}">Find Room-mate</a>
                <a class="nav-item nav-link" href="{%  url 'books:book_lists' %}">Books Store</a>
                <a class="nav-item nav-link" href="{%  url 'books:book_search' %}">Books search</a> -->
                <div class="dropdown">
                  <a class="nav-item nav-link" href="{%  url 'cart:cart_detail' %}"> Book Cart</button></href>
                  <div class="dropdown-content">
                    <a href="{%  url 'orders:orders_history' %}">Book Orders</a>
                  </div>
                </div>
                <div class="dropdown">
                    <a class="nav-item nav-link" href="{%  url 'cart:ticket_cart_detail' %}"> Tickets Cart</button></href>
                    <div class="dropdown-content">
                      <a href="{%  url 'orders:bus_orders_history' %}">Ticket Orders</a>
                    </div>
                  </div>
                

                <a class="nav-item nav-link" href="{%  url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{%  url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{%  url 'register' %}">Register</a>
              {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% if messages %}
              {% for message in messages%}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}

          </div>
          <div class="col-md-4">
            <div class="content-section dark">
              <h3>Student Activities</h3>
              <p class='text-muted'>Students can untilize the following functions on this portal
                <ul class="list-group">
                  <a class="list-group-item list-group-item-light" href="{%  url 'users:student_search' %}">Student Search</a>
                  <a class="list-group-item list-group-item-light" href="{%  url 'faculty:search_faculty' %}">Faculty Search</a>
                  <a class="list-group-item list-group-item-light" href="{%  url 'users:roommateFind' %}">Find Room-mate</a>
                  <a class="list-group-item list-group-item-light" href="{%  url 'books:book_search' %}">Books Search</a>
                  <a class="list-group-item list-group-item-light" href="{%  url 'books:book_lists' %}">Books Store</a>
                  <a class="list-group-item list-group-item-light" href="{%  url 'bus:get_tickets' %}">Bus Tickets</a>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </main>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <div id="content2">
        {% block content2 %}
        {% endblock %}
      </div>

    </body>
  </html>
