{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block titile %} Room-mate Finder {% endblock %}
{% block content %}
  <!-- {% crispy form %} -->
    {%if results %}
        <h2> Search Results </h2>
        <table class="table table-bordered" style="width:100%">
          <thead class="thead-dark">
            <tr>
                <th scope="col">gender</th>
                <th scope="col">from-date</th>
                <th scope="col">to-date</th>
                <th scope="col">price</th>
                <th scope="col">Student Name</th>
                <th scope="col">Contact Email</th>
            </tr>
            </thead>
            <tbody>
                {% for users in results %}
                <tr>
                    <td>{{ users.gender }}</td>
                    <td>{{ users.from_date }}</td>
                    <td>{{ users.to_date }}</td>
                    <td>{{ users.price }}</td>
                    <td>{{ users.user.first_name }} {{ users.user.last_name }}</td>
                    <td>{{ users.user.email }}</td>

                {% empty %}
                    <td><p> There are no results for your query </p></td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        <u><B><p>  <a href="{% url "users:roommateFind" %}"> Search Again</a></p></B></u>
    {% else %}
        <h3> Looking for a Room-mate?</h3>
        <form action="." method="get" class="form-control-sm">
            <!-- {% crispy form %} -->
            {{ form.as_p }}
            <input type="Submit" class="btn btn-primary" value="Search">
        </form>
    {% endif %}
{% endblock %}
