{% extends "blog/base.html" %}
{% load static %}




{% block title %}
    Bus Tickets Purchase
{% endblock %}

{% block content %}
    <h2> Bus Tickets</h2>
    <p>Bobcat Shuttle provides transportation for students, faculty, staff, and visitors at Texas State University. Students and Faculty can also avail monthly oe semester long passes at the rates below.</p>
    {% for item in tickets %}


            <div class="card card-body" >
                <span style="margin-left:4em"><B> <h4>Ticket Type : </B>{{item.ticket_type}}</h4></span> <br>
                <span style="margin-left:6em"><B> Source : </B>{{item.source}}</span> <br>
                <span style="margin-left:6em"><B> Destination : </B>{{item.destination}}</span> <br>
                <span style="margin-left:6em"><B> Price : </B>{{item.price}}</span> <br>
                <form action ="{% url "cart:cart_add_ticket" item.id %}" method="post">
                    <span style="margin-left:6em">{{ cart_form }}</span>
                    {% csrf_token %}
                    <span style="margin-left:4em"><B></B><input type="submit" class="btn btn-success" value="Add to cart"></span></B><br>
                </form>
            </div>
    {% endfor %}
<br><br>
{% endblock %}
